Saved/
Intermediate/
Content/
Binaries/
ViveTemplate.sdf
ViveTemplate.opensdf
Screenshots/
Config/
ViveTemplate.sln
ViveTemplate.uproject
Build/
.vs/ViveTemplate/v14/.suo
Plugins/NewMenu/Resources/
*.TMP
